@CHARSET "UTF-8";
#scrollTable {
  width: 1060px;
  height: 95%;
  border: 1px solid #000000;
  background: #FFFFFF;
}

#scrollTable table {
  border-collapse: collapse;
}

#scrollTable table.thead {
  width: 100%;
}

#scrollTable table.thead th {
  border: 1px solid #EB8;
  border-right: #000000;
  color: #FFFFFF;
  background: #FFFFFF;
}

#hd1 {
  width: 100%;
  height: 51px;
  overflow: auto;
}

#bd1 {
  width: 100%;
  height: 93%;
  overflow: auto;
}

#hd1 table {
  border-collapse: collapse;
}

#hd1 table.thead {
  width: 100%;
}

#bd1 table {
  border-collapse: collapse;
}

#bd1 table.thead {
  width: 100%;
}

#hd1 table.tbody {
  width: 100%;
  border: 1px solid #FFFFFF;
  border-right: #B74;
  color: #666666;
  background: #FFFFFF;
}

#hd1 table.tbody td {
  border: 1px solid #FFFFFF;
  WORD-WRAP: break-word;
}

#bd1 table.tbody {
  width: 100%;
  border: 1px solid #FFFFFF;
  border-right: #B74;
  color: #666666;
  background: #FFFFFF;
}

#bd1 table.tbody td {
  border: 1px solid #FFFFFF;
  WORD-WRAP: break-word;
}